* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  background-color: #745d49;
}

.main {
  padding: 50px 0;
}

.main .main__content {
  padding: 50px 50px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ffdab9;
}

.main .ol__homework {
  padding: 20px 0;
}

.main li {
  padding: 10px 0;
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
}

.main .ol__additional-work {
  list-style-type: none;
  counter-reset: li;
  padding: 25px 0;
}

.main .ol__additional-work > li:nth-child(even),
.main .ol__additional-work > li:first-child {
  font-weight: 600;
}

.main .ol__additional-work > li:nth-child(even) {
  position: relative;
}

.main .ol__additional-work > li:nth-child(even)::before {
  display: inline-block;
  content: counter(li) ".";
  counter-increment: li 1;
  margin-left: -35px;
  text-align: right;
  width: 25px;
  font-size: 20px;
  position: absolute;
}

.main .arr__img1 {
  height: 200px;
  background: url(../../img/img2.png);
}

.main .arr__img2 {
  height: 210px;
  background: url(../../img/img1.png);
}

.main .arr__img1,
.main .arr__img2 {
  background-size: cover;
  margin-top: 30px;
}

.span__underline {
  text-decoration: underline;
}

.second__line,
.li__objects,
.li__nesting {
  padding-top: 10px;
  display: block;
}

.li__objects {
  padding-left: 32px;
}

.li__nesting {
  padding-left: 65px;
}

.span__red {
  background-color: red;
  max-width: fit-content;
  padding-top: 0;
}

.paragraph {
  padding-bottom: 10px;
}

h2 {
  text-align: center;
  font-style: italic;
  font-size: 3rem;
  font-weight: 600;
}
