@import "./reset";

body {
	background-color: #745d49;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 35px 0;
}
.main {
	&__content {
		padding: 30px;
		background-color: #ffdab9;
		border-radius: 40px;
		.span__price {
			font-size: 1.3rem;
			padding-left: 10px;
			margin-bottom: 5px;
			margin-right: 10px;
		}
		.btn__close {
			font-size: 1.3rem;
			padding: 0 7px;
		}
		.input__price {
			display: block;
			border: 1px solid #adadad;
			border-radius: 4px;
			font-size: 1.3rem;
			height: 40px;
			margin-bottom: 12px;
			padding-left: 10px;
			&:focus::placeholder {
				color: white;
			}
		}
		.input__price + div {
			font-style: 3rem;
		}
		.input__price-focus {
			border: 2px solid rgb(95, 233, 95);
			color: rgb(48, 144, 48);
		}
		.error {
			border: 2px solid red;
		}
		.task2 {
			padding: 10px 0;
			& > ul > li {
				padding: 5px 0;
			}
		}
		.task3,
		.task4,
		.task5,
		.task6,
		.task7,
		.task8 {
			margin-bottom: 25px;
		}
		.task4 {
			> button {
				font-size: 1.5rem;
				padding: 2px 10px;
				&:not(:last-child) {
					margin-right: 20px;
				}
			}
		}
		.task6 {
			max-width: fit-content;
			> label {
				display: block;
				text-align: center;
				margin-bottom: 6px;
			}
			> input {
				width: 150px;
			}
		}
		.task7,
		.task8 {
			> label {
				margin-right: 10px;
			}
			> input {
				padding: 5px 0 5px 10px;
				margin-bottom: 10px;
			}
			h3 {
				padding-left: 107px;
				font-size: 0.8rem;
			}
		}
	}
}
