@import "./reset";

html {
	font-size: 10px;
}

body {
	background-color: #745d49;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 35px;
}
.buttons {
	align-self: center;
	.btn__prepend,
	.btn__circle {
		display: block;
		width: 180px;
		height: 60px;
		padding: 10px;
		border: 2px solid brown;
		font-size: 2rem;
		font-weight: 600;
		transition: all 0.25s;
		background-color: sandybrown;
		&:hover {
			background: red;
			color: #fff;
			transition: all 0.25s;
		}
		&:active {
			transform: scale(1.01, 1.01);
			transition: all 0.25s;
		}
	}
	.btn__prepend {
		margin-bottom: 100px;
	}
	.btn__circle {
		padding: 5px;
	}
	.input__diameter {
		margin-bottom: 20px;
		.circle__input {
			max-width: 180px;
			border: 1px solid #adadad;
			border-radius: 4px;
			font-size: 2rem;
			height: 40px;
			padding-left: 10px;
		}
	}
}
.created__blocks {
	& > div {
		padding: 5px;
		text-align: center;
		font-size: 2rem;
		font-weight: 400;
		font-style: italic;
		border: 1px solid black;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
.main {
	&__content {
		padding: 20px;
		background-color: #ffdab9;
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		min-height: 80vh;
		max-width: 500px;
		margin: 0 auto;
	}
}
#root {
	font-size: 2rem;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 40px;
	table {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		caption {
			font-weight: 600;
			font-style: normal;
			padding-bottom: 10px;
		}
		tr {
			text-align: center;
			td {
				padding-top: 10px;
			}
		}
		&,
		th,
		td {
			border: 2px solid black;
		}
	}
}
.ul__circle {
	display: grid;
	grid-template-columns: repeat(10, auto);
	gap: 10px;
	padding-bottom: 40px;
	max-width: fit-content;
	margin: 0 auto;

	.li__circle {
		border-radius: 50%;
		text-align: center;
		font-size: 2.5rem;
		&:hover {
			transform: scale(1.05, 1.05);
			cursor: pointer;
		}
	}
}
