* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #492e33;
  background-size: cover;
}

.app-wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.header {
  background-color: rgba(153, 76, 9, 0.705);
  margin-bottom: 10px;
}

.header .img__logo {
  padding-left: 10px;
}

.main {
  display: grid;
  grid-template-areas: "navigation content";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
  font-size: 1.5rem;
}

.main__nav {
  grid-area: navigation;
  background-color: green;
}

.main__nav li > a {
  color: #000;
}

.main__content {
  grid-area: content;
  background-color: gray;
}

.main .profile__banner img {
  width: 100%;
  height: 200px;
}
