* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: url(../../img/background1.jpg) no-repeat, #54777b;
  background-size: cover;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fad185;
}

.main__container {
  max-width: 650px;
  margin: 0 auto;
  padding-top: 30px;
}

.main__content {
  padding: 10px 0;
  background-color: #847364;
  border-radius: 40px;
}

.main__title > h1 {
  padding-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 2px 2px black;
}

.minesweeper {
  margin-bottom: 15px;
}

.minesweeper .grid__field {
  margin: 0 auto;
  width: fit-content;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: grid;
  grid-template-columns: repeat(8, 60px);
  border: 1px solid gray;
}

.minesweeper .grid__field > button {
  height: 60px;
  font-size: 24px;
  border: 1px solid gray;
  background-color: #fff0d5;
  transition: all 0.4s;
}

.minesweeper .grid__field > button:first-child {
  border-top-left-radius: 10px;
}

.minesweeper .grid__field > button:nth-child(8) {
  border-top-right-radius: 10px;
}

.minesweeper .grid__field > button:nth-child(57) {
  border-bottom-left-radius: 10px;
}

.minesweeper .grid__field > button:last-child {
  border-bottom-right-radius: 10px;
}

.minesweeper .grid__field .bg__bomb {
  background: url(../../img/bomb.png) center/cover, red;
}

.minesweeper .grid__field .bg__nobomb {
  background-color: springgreen;
  font-weight: 600;
  font-size: 2rem;
}

.minesweeper .grid__field .btn__cell:hover {
  transform: scale(0.97, 0.97);
  transition: scale 0.5s;
}

.minesweeper .grid__field .btn__cell:active {
  filter: brightness(0.8);
}
