* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: sans-serif;
  background: url(../../img/background1.jpg) no-repeat, #54777b;
  background-size: cover;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fad185;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

h3 {
  font-size: 1.2rem;
  font-style: italic;
  display: none;
  color: #fff;
}

h1,
h2,
h3 {
  text-align: center;
  text-shadow: 2px 2px black;
  padding: 2px 0 8px;
}

.main__container {
  max-width: 650px;
  margin: 0 auto;
  padding: 15px 0;
}

.main__content {
  padding-bottom: 10px;
  border-radius: 40px;
  background-color: #847364;
}

.main__title > h1 {
  padding-top: 8px;
  order: 1;
}

.main__title > h2 {
  max-width: 500px;
  margin: 0 auto;
  transition: all 0.5s;
  order: 2;
}

.main__title > h3 {
  order: 3;
}

.main .timer {
  padding-right: 17px;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 2px 2px black;
  display: none;
}

.minesweeper .start__game {
  font-size: 2.2rem;
  font-weight: 600;
  display: block;
  margin: 0 auto;
  padding: 8px 30px;
  transition: all 0.25s;
  letter-spacing: 5px;
  color: #423a3a;
  border: 2px solid ghostwhite;
  border-radius: 10px;
  background-color: #52ca52;
}

.minesweeper .start__game:hover {
  transition: all 0.25s;
  color: #fff;
  filter: brightness(1.15);
}

.minesweeper .start__game:active {
  transition: all scale 0.25s;
  transform: scale(0.98, 0.98);
}

.minesweeper .grid__field {
  display: grid;
  width: fit-content;
  margin: 0 auto;
  transition: all 1s;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.minesweeper .grid__field > button {
  font-size: 24px;
  transition: all 0.4s;
  border: 1px solid gray;
  background-color: #f9e4bd;
}

.minesweeper .grid__field > button:first-child {
  border-top-left-radius: 10px;
}

.minesweeper .grid__field > button:nth-child(8) {
  border-top-right-radius: 10px;
}

.minesweeper .grid__field > button:nth-child(57) {
  border-bottom-left-radius: 10px;
}

.minesweeper .grid__field > button:last-child {
  border-bottom-right-radius: 10px;
}

.minesweeper .grid__field .bomb__redcell {
  background: url(../../img/bomb.png) center/cover, #ff5b5b;
}

.minesweeper .grid__field .bomb__cell {
  background: url(../../img/bomb.png) center/cover, white;
}

.minesweeper .grid__field .nobomb__cell {
  font-size: 2rem;
  font-weight: 600;
  background-color: springgreen;
}

.minesweeper .grid__field .empty__cell {
  background-color: #ffff7d;
}

.minesweeper .grid__field .btn__cell:hover {
  transition: scale 0.5s;
  transform: scale(0.97, 0.97);
}

.minesweeper .grid__field .btn__cell:active {
  filter: brightness(0.8);
}

.minesweeper .grid__field .btn__flag {
  background: url(../../img/flag.png) center/cover;
}

.minesweeper .grid__field .btn__question {
  background: url(../../img/question.png) center/cover;
}

.minesweeper .restart__game {
  font-size: 2.2rem;
  font-weight: 600;
  display: block;
  display: none;
  margin: 10px auto 0 auto;
  padding: 4px 15px;
  transition: all 0.25s;
  transition: opacity 0.5s;
  opacity: 0;
  color: #423a3a;
  border: 2px solid ghostwhite;
  border-radius: 15px;
  background-color: #dcc855;
}

.minesweeper .restart__game:hover {
  transition: all 0.25s;
  filter: brightness(1.25);
}

.minesweeper .restart__game:active {
  transition: all scale 0.25s;
  transform: scale(0.98, 0.98);
}
