@import "./reset";

body {
	font-family: sans-serif;
	background: url(../../img/background1.jpg) no-repeat, #54777b;
	background-size: cover;
}
h1 {
	font-size: 2rem;
	font-weight: bold;
	color: rgb(250, 209, 133);
}
h2 {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
h3 {
	font-size: 1.2rem;
	font-style: italic;
	display: none;
	color: #fff;
}
h1,
h2,
h3 {
	text-align: center;
	text-shadow: 2px 2px black;
	padding: 2px 0 8px;
}

.main {
	&__container {
		max-width: 650px;
		margin: 0 auto;
		padding: 15px 0;
	}
	&__content {
		padding-bottom: 10px;
		border-radius: 40px;
		background-color: #847364;
	}
	&__title {
		> h1 {
			padding-top: 8px;
			order: 1;
		}
		> h2 {
			max-width: 500px;
			margin: 0 auto;
			transition: all 0.5s;
			order: 2;
		}
		> h3 {
			order: 3;
		}
	}
}
.minesweeper {
	.start__game {
		font-size: 2.2rem;
		font-weight: 600;
		display: block;
		margin: 0 auto;
		padding: 8px 30px;
		transition: all 0.25s;
		letter-spacing: 5px;
		color: rgb(66, 58, 58);
		border: 2px solid ghostwhite;
		border-radius: 10px;
		background-color: rgb(82, 202, 82);
		&:hover {
			transition: all 0.25s;
			color: #fff;
			filter: brightness(1.15);
		}
		&:active {
			transition: all scale 0.25s;
			transform: scale(0.98, 0.98);
		}
	}
	.grid__field {
		display: grid;
		width: fit-content;
		margin: 0 auto;
		transition: all 1s;
		border: 1px solid gray;
		border-radius: 20px;
		box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
		> button {
			font-size: 24px;
			transition: all 0.4s;
			border: 1px solid gray;
			background-color: rgb(249, 228, 189);
			&:first-child {
				border-top-left-radius: 10px;
			}
			&:nth-child(8) {
				border-top-right-radius: 10px;
			}
			&:nth-child(57) {
				border-bottom-left-radius: 10px;
			}
			&:last-child {
				border-bottom-right-radius: 10px;
			}
		}
		.bomb__redcell {
			background: url(../../img/bomb.png) center/ cover, rgb(255, 91, 91);
		}
		.bomb__cell {
			background: url(../../img/bomb.png) center/ cover, white;
		}
		.nobomb__cell {
			font-size: 2rem;
			font-weight: 600;
			background-color: springgreen;
		}
		.empty__cell {
			background-color: #ffff7d;
		}
		.btn__cell {
			&:hover {
				transition: scale 0.5s;
				transform: scale(0.97, 0.97);
			}
			&:active {
				filter: brightness(0.8);
			}
		}
		.btn__flag {
			background: url(../../img/flag.png) center/ cover;
		}
		.btn__question {
			background: url(../../img/question.png) center/ cover;
		}
	}
	.restart__game {
		font-size: 2.2rem;
		font-weight: 600;
		display: block;
		display: none;
		margin: 10px auto 0 auto;
		padding: 4px 15px;
		transition: all 0.25s;
		transition: opacity 1s;
		opacity: 0;
		color: rgb(66, 58, 58);
		border: 2px solid ghostwhite;
		border-radius: 15px;
		background-color: rgb(220, 200, 85);
		&:hover {
			transition: all 0.25s;
			filter: brightness(1.25);
		}
		&:active {
			transition: all scale 0.25s;
			transform: scale(0.98, 0.98);
		}
	}
}
