@import "./reset";

html {
	font-size: 10px;
}

body {
	background-color: #745d49;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 35px 0;
}
.main {
	&__content {
		padding: 30px;
		background-color: #ffdab9;
		border-radius: 40px;
	}
}

.btn-wrapper {
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.btn {
	border: none;
	border-radius: 20px;
	min-width: 120px;
	padding: 7px;
	color: #fff;
	font-size: 14px;
	background-color: #33333a;
	transition: background 0.3s ease-in-out;
	cursor: pointer;
}
.btn:active,
.btn:focus {
	outline: none;
}
