@import "./reset";

html {
	font-size: 10px;
}

body {
	background-color: #745d49;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 35px 0;
}
.main {
	&__content {
		padding: 30px;
		background-color: #ffdab9;
		border-radius: 40px;
		.btn__currency {
			display: block;
			margin: 0 auto;
			padding: 10px;
			border: 2px solid #ecbbbb;
			border-radius: 7px;
			font-size: 1.7rem;
			background-color: rgb(190, 232, 127);
			transition: all 0.5s;
			&:hover {
				transition: all 0.5s;
				filter: brightness(0.9);
			}
			&:active {
				transition: all 0.5s;
				transform: scale(0.95, 0.95);
			}
		}
		.grid__currency {
			font-size: 2rem;
			max-width: 50%;
			text-align: center;
			line-height: 1.3;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			> div:not(:nth-last-of-type(-n + 2)) {
				border-bottom: 2px solid gray;
			}
		}
	}
}
