@import "./reset";

html {
	font-size: 10px;
}

body {
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.55;
	background-color: #745d49;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
}
.body {
	padding: 25px 50px;
	max-width: fit-content;
	margin: 0 auto;
	background-color: #ffdab9;
	.homework {
		font-weight: 600;
		.span__hw {
			font-weight: 400;
		}
	}
	.classwork {
		font-weight: 600;
		.classwork__tasks {
			font-weight: 400;
		}
	}
}
