@import "./reset";

html {
	font-size: 10px;
}

body {
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.25;
	background-color: #745d49;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
}
.main__content {
	text-align: center;
}
