@import "./reset";

html {
	font-size: 10px;
}

body {
	background-color: #745d49;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 35px 0;
}
.main {
	&__content {
		padding: 30px;
		background-color: #ffdab9;
		border-radius: 40px;
	}
	&__classwork {
		display: flex;
		justify-content: space-between;
	}
	&__form {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		max-width: 40%;
		> input {
			&:not(input[type="button"]) {
				padding: 5px 0;
				border: 1px solid #adadad;
				border-radius: 4px;
				font-size: 1.7rem;
				margin-bottom: 12px;
				padding-left: 10px;
				&:focus {
					border: 2px solid gray;
					&::placeholder {
						color: white;
					}
				}
			}
			&[type="button"] {
				margin: 0 auto;
				padding: 10px;
				border: 1px solid #adadad;
				letter-spacing: 4px;
				border-radius: 4px;
				color: #fff;
				background-color: rgb(117, 153, 215);
				font-size: 1.7rem;
				transition: all 0.2s;
				&:hover {
					filter: brightness(1.2);
					transform: scale(1.05, 1.05);
				}
				&:active {
					filter: brightness(0.9);
				}
			}
		}
		.mistake,
		.mistake__save {
			font-size: 1.4rem;
			color: red;
			text-align: center;
			margin-bottom: 7px;
		}
	}
	.grid__data {
		display: grid;
		padding-top: 7px;
		align-items: flex-start;
		flex-grow: 0.25;
		grid-template-columns: repeat(6, 0.7fr);
		height: fit-content;
		font-size: 1.7rem;
		div:nth-child(-n + 6) {
			font-weight: 600;
		}
		> div {
			&:not(:nth-last-child(-n + 6)) {
				margin-bottom: 26px;
			}
			text-align: center;
		}
		input[type="checkbox"] {
			vertical-align: bottom;
		}
	}
}
