*
{
    margin: 0;
    padding: 0;
}

:root
{
    --main: #1c46cf;
    --sub: #00db25;
    --dark: #10004b;
}

header
{
    display: flex;

    width: 100%;

    background-color: white;
}

body
{
    font-family: 'Montserrat', sans-serif;

    color: #333;
}

#logo
{
    height: 30px;
    margin: 30px;
}

.wrapper
{
    display: flex;

    width: inherit;
    padding: 0 10%;

    box-shadow: 1px 1px 15px 0 #eee;
}

ul
{
    display: inherit;
    justify-content: flex-end;

    margin: 0;
}

li
{
    font-size: .95em;
    font-weight: 500;

    display: inline;

    padding: 0 15px;

    list-style: none;
}

li:hover
{
    cursor: pointer;

    color: var(--main);
}

nav
{
    display: inherit;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 90px;

    text-transform: uppercase;
}

main
{
    padding: 0 10%;

    background: linear-gradient(180deg, #f9f9f9, #fff, #f9f9f9);
}

#banner
{
    font-size: 1.2em;
    font-weight: bold;

    position: fixed;
    z-index: 3;
    right: 1%;
    bottom: 2%;

    padding: 1em 1.5em;

    animation: padd .5s ease infinite;
    text-align: center;

    color: var(--dark);
    border-radius: 20px;
    background: linear-gradient(50deg, white, #eee);
    box-shadow: 2px 2px 5px #999;
}

@keyframes padd
{
    50%
    {
        margin: 0 -.2em -.2em 0;
        padding: 1.2em 1.7em;
    }
}

#banner button
{
    font-size: .8em;
    font-weight: bold;

    margin-top: 15px;
    padding: 15px 50px;

    color: white;
    border: none;
    border-radius: 10px;
    background: linear-gradient(50deg, red, #c40000);
}

h1
{
    font-size: 2.5em;

    padding: 40px 0 0;

    text-align: center;
    text-transform: uppercase;
}

h3
{
    width: 100%;
    margin: 1em;

    text-align: center;
    text-transform: uppercase;
}

sub
{
    font-size: 1em;

    display: block;

    padding: 10px 0 40px;

    text-align: center;
    letter-spacing: 2px;
}

.table-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form
{
    font-size: 1.5em;

    margin-bottom: 20px;

    text-align: center;
}

input[type='radio'],
input[type='checkbox']
{
    opacity: 0;
}

.input__data:focus::placeholder
{
    transition: all .25s;

    color: #fff;
}

.fakeRadio
{
    position: relative;
    top: .3em;

    display: inline-block;

    width: 1em;
    height: 1em;
    margin-right: .5em;

    border: 3px var(--main) solid;
    border-radius: 50%;
}

.fakeRadio::before
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: .6em;
    height: .6em;

    content: '';
    transition: ease-in-out .3s;
    transform: translate(-50%, -50%);

    opacity: .2;
    border-radius: 50%;
    background-color: var(--main);
}

.radioIn:checked + .fakeRadio::before
{
    opacity: 1;
}

.table,
.ingridients
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 50%;
}

.table
{
    position: relative;

    align-self: center;

    margin-right: 20px;
}
.topping
{
    z-index: 1;
}

.hovered
{
    border: 2px dashed var(--main);
    border-radius: 10px;
    background: #f9f9f9;
}

.table > img
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: inline-block;

    margin: auto;
}

.ingridients span
{
    font-size: .9em;

    color: #666;
}

.result
{
    display: grid;

    margin-bottom: 30px;
    padding: 1.6em 3em;

    text-align: center;

    grid-template-columns: repeat(3,1fr);
}
.added__element
{
    border: 3px outset aqua;
}
p
{
    font-size: 1.8em;

    text-transform: uppercase;
}
.btn__reset,
.btn__submit
{
    transition: all .3s;
}
.btn__reset:hover,
.btn__submit:hover
{
    cursor: pointer;
    transition: all .3s;
    transform: scale(1.03,1.03);
}
.btn__reset:active,
.btn__submit:active
{
    transform: scale(.95);
}

.table-wrapper div img
{
    width: 100%;
}

.ingridients div
{
    display: inline-block;

    width: 30%;
}

.ingridients div img
{
    height: 100px;
}

.ingridients span
{
    display: block;

    text-align: center;
}

.slider
{
    position: relative;

    overflow: hidden;

    max-width: 1000px;
    height: 308px;
    margin: 0 auto 35px auto;

    border: 3px solid #423bff;
    border-radius: 20px;
}
.slider img
{
    width: 100%;
    height: 100%;
}
.slider ul,
.slider li
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}
.slider ul
{
    width: 9999px;
}
.slider ul li
{
    float: left;

    width: 1000px;
    height: 308px;

    list-style-type: none;
	border-radius: 17px;
	overflow: hidden;
}
.slider .nav
{
    position: absolute;
    bottom: 12px;
    left: 50%;
}
.slider .nav span
{
    display: block;
    float: left;
    overflow: hidden;

    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;

    cursor: pointer;

    opacity: .9;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 1px 2px #000;
}
.slider .nav span.on
{
    background: rgb(107, 101, 101);
}

.slider__next,
.slider__prev {
	position: absolute;
	background: none;
	top: 0;
	bottom: 0;
	padding: 0 8px;
	width: fit-content;
	color: #000;
	opacity: 0.7;
	font-size: 40px;
	border: none;
}
.slider__prev:hover,.slider__next:hover  {
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.2);
	}
.slider__prev {
	left: 0;
}
.slider__next {
	right: 0;
}

footer
{
    padding: 60px 10% 40px;

    background: linear-gradient(50deg, var(--main) -10%, var(--dark) 110%);
}

footer label
{
    color: #fff;
}

footer input
{
    font-size: .9em;

    width: 240px;
    height: 20px;
    margin: 1em;
    padding: 10px;

    border: none;
    border-radius: 10px;
}

.success
{
    border: 2px green solid;
}

.error
{
    border: 2px red solid;
}

.button
{
    font-size: .6em;
    font-weight: 600;

    width: 300px;
    height: 40px;
    padding: 0;

    text-transform: uppercase;

    color: white;
    border: none;
    border-radius: 10px;
    background: linear-gradient(50deg, red, #d60000);
}

.button:last-child
{
    width: 350px;
    height: 50px;

    background: linear-gradient(30deg, var(--sub), #00740a);
}

address
{
    margin-top: 40px;

    text-align: center;

    color: white;
}

.x
{
    font-size: 1.1em;
    font-weight: 900;

    margin-left: 8px;
    padding: 2px 7px;

    color: white;
    border: none;
    border-radius: 50%;
    background-color: red;
    box-shadow: 1px 1px 3px 0 #aaa;
}

p.element
{
    font-size: 1.2em;

    display: inline-block;

    text-transform: none;
}

.div
{
    margin: 1em;
}

footer > h2,
footer > sub
{
    text-align: center;

    color: white;
}

footer > h2
{
    font-size: 2em;

    text-transform: uppercase;
}

.grid
{
    display: grid;
    align-items: center;

    grid-template-columns: 1fr 1fr;
}

footer > form > div > label,
input[name='cancel']
{
    margin: 1em;

    justify-self: right;
}

footer > form > div > p
{
    font-size: .8em;

    margin-top: -12px;
    padding-left: 1.2em;

    text-transform: none;

    color: red;

    grid-column: 2/3;
    justify-self: left;
}
.price__counter
{
    padding-top: 10px;

    text-align: center;
}

@media screen and (max-width:600px)
{
    nav,
    #banner
    {
        display: none;
    }

    .wrapper
    {
        display: block;

        text-align: center;
    }

    .table-wrapper
    {
        display: block;

        margin-top: 80px;

        text-align: center;
    }

    .ingridients,
    .table
    {
        width: 100%;
    }

    .table
    {
        margin: 100px 0;
    }

    label
    {
        display: block;
    }

    .grid
    {
        grid-template-columns: 100%;
    }

    .grid > input,
    input.button
    {
        width: 90%;
        margin: 10px 0;
        padding: 5%;
    }

    footer > form > div > label,
    input[name='cancel'],
    footer > form > div > p
    {
        margin: 10px 0;

        justify-self: center;
    }

    footer > form > div > input[name='btnSubmit']
    {
        width: 100% !important;
    }

    .result
    {
        display: block;

        padding: 30px 0 0;

        text-align: center;
    }
}

@keyframes shake
{
    25%
    {
        transform: translateX(4px);
    }
    50%
    {
        transform: translateX(-4px);
    }
    75%
    {
        transform: translateX(4px);
    }
}
