* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Orbitron;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
  background-color: #222;
  color: #eee;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html .content,
body .content {
  text-align: center;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}

html .content span,
body .content span {
  width: 30px;
  display: inline-block;
}

.random div {
  margin: 20px 0;
}

.links {
  margin: 80px auto 0px auto;
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.links a {
  width: 30px;
}

.links a:hover svg, .links a:hover img {
  filter: grayscale(1);
}

img,svg {
  max-width: 100%;
  transition: filter 0.25s;
}
